{% extends 'base.html.twig' %}

{% block title %}Paiement de ma commande - La boutique FR
{% endblock %}

{% block content %}
	<h2>Mon récapitulatif</h2>

	<p>Vérifiez vos informations avant de payer votre commande</p>
	<hr>
    {% set total = 0 %}
	<div class="row">

		<div class="col-md-6">

			<strong>Mon adresse de livraison</strong><br/>
            <div class="form-check mt-4">
                {{ delivery | raw }}
            </div>
            <hr>
			<strong>Mon transporteur</strong><br/>
            <div class="form-check">
                {{ transporteur.name }}<br/>
                {{ transporteur.description }}<br/>
                {{ (transporteur.price / 100 ) | number_format(2, ',', '.') }} €
            </div> 
		</div>

		<div class="col-md-6">

			<div class="text-center">
				<b>Ma commande</b><br/>
			</div>

			<div class="order-summary">
				{% for key, produit in panier %}
					<div class="row {% if key > 0 %}mt-2{% endif %}">
						<div class="col-2">
							<img src="/uploads/{{ produit.produit.illustration }}" alt="{{ produit.produit.name }}" height="75px"><br/>
						</div>
						<div class="col-8 my-auto">
							{{ produit.produit.name }}<br/>
							<small>{{ produit.produit.subtitle }}
								<br/>
								x
								{{ produit.quantity }}
							</small>
						</div>
						<div class="col-2 my-auto">
							{{ (produit.produit.price * produit.quantity / 100) | number_format(2, ',', '.') }}
							€

						</div>
					</div>
                    {% set total = total + (produit.produit.price * produit.quantity) %}
				{% endfor %}
			</div>

            <hr>
            <strong>Sous-total : </strong> {{ (total / 100) | number_format(2, ',', '.') }} €<br/>
            <strong>Livraison : </strong> {{ (transporteur.price / 100) | number_format(2, ',', '.') }} €<br/>
            <hr>
            <strong>Total : </strong> {{ ((total / 100) + (transporteur.price / 100)) | number_format(2, ',', '.') }} €<br/>

			<a class="btn btn-success btn-block mt-3" id="checkout-button">Payer | {{ ((total / 100) + (transporteur.price / 100)) | number_format(2, ',', '.') }} €</a>
		</div>

	</div>
{% endblock %}


{% block javascript %}
    <script src="https://js.stripe.com/v3/"></script>

    <script type="text/javascript">
        // Create an instance of the Stripe object with your publishable API key
        var stripe = Stripe("pk_test_51IWlKzFjn869IRqbvzxan5b0s8jn3Quq4oaR9lbu38oQG1laHDrBN6FURV2zkvLjjOzwhsj0rj5oo7Znfnd2QblG007r0qKAgF");
        var checkoutButton = document.getElementById("checkout-button");
        checkoutButton.addEventListener("click", function () {
            fetch("/commande/create-session/{{ reference }}", {
                method: "POST",
            })
            .then(function (response) {
            return response.json();
            })
            .then(function (session) {
                if(session.error == 'commande') {
                    windows.location.replace('{{ path('commande_index') }} ');
                }
                else {
                    return stripe.redirectToCheckout({ sessionId: session.id });

                }
            })
            .then(function (result) {
            // If redirectToCheckout fails due to a browser or network
            // error, you should display the localized error message to your
            // customer using error.message.
            if (result.error) {
                alert(result.error.message);
            }
            })
            .catch(function (error) {
            console.error("Error:", error);
            });
        });
    </script>
{% endblock %}