{% extends 'base.html.twig' %}

{% block title %}Valider ma commande - La boutique FR
{% endblock %}

{% block content %}
	<h2>Je passe ma commande</h2>

	<p>Choisissez vos preferences avant de passer commande sur La boutique FR</p>
	<hr>

	<div class="row">

		<div class="col-md-6">
			{% set formHtml %}
			    {{ form_start(form, {action:path('commande_recap')} )}}
                    {{ form_label(form.addresses, 'Choisissez votre adresse de livraison') }}
                    <a href="{{ path('account_address_add') }}">Ajouter une nouvelle adresse</a>
			    {{ form_end(form) }}
			{% endset %}

			{{ formHtml|replace({'[br]' : '<br/>'}) | raw }}
	
		</div>

        <div class="col-md-6">
            <div class="text-center">
                <b>Récapitulatif de ma commande</b><br/>
                Retrouvez le récapitulatif de vos produits
            </div>
            <div class="order-summary">
                {% for key, produit in panier %}
                    <div class="row {% if key > 0 %}mt-2{% endif %}">
                        <div class="col-2">
                            <img src="/uploads/{{ produit.produit.illustration }}" alt="{{ produit.produit.name }}" height="75px"><br/>
                        </div>
                        <div class="col-8 my-auto">
                            {{ produit.produit.name }}<br/>
                            <small>{{ produit.produit.subtitle }}</small>
                        </div>
                        <div class="col-2 my-auto">
                            x {{ produit.quantity }}
                        </div>
                    </div>
                {% endfor %}
            </div>
            

        </div>
	
    </div>
{% endblock %}
